.styledAlbum {
  display: flex;
  justify-content: space-between;
}

.styledAlbum .albumCoverUrl {
  margin-right: 24px;
}

.styledAlbum .details {
  flex: 1;
}

.styledAlbum .details .details-info {
  margin: 8px 0;
  user-select: none;
}

.styledAlbum .details .details-info .albumName {
  color: #7b7bff;
  font-weight: bold;
}

.styledAlbum .details .details-info .brandName {
  font-weight: bold;
}

.styledAlbum .details .details-by {
  color: grey;
  user-select: none;
}

.styledAlbum .details .details-by span{
  margin-right: 8px;
}

.styledAlbum .details .details-by img{
  border-radius: 50%;
  vertical-align: middle;
}

.styledAlbum .icon-remove {
  color: grey;
  cursor: pointer;
}
