.styledAlbum {
  display: flex;
  justify-content: space-between;
}

.styledAlbum .albumCoverUrl {
  margin-right: 24px;
}

.styledAlbum .details {
  flex: 1;
}

.styledAlbum .details .details-info {
  margin: 8px 0;
  user-select: none;
}

.styledAlbum .details .details-info .albumName a {
  color: #7b7bff;
  font-weight: bold;
  text-decoration: none;
}

.styledAlbum .details .details-info .albumName a:hover {
  color: #5c5cfe;
}

.styledAlbum .details .details-info .brandName {
  font-weight: bold;
}

.styledAlbum .details .details-by {
  color: #808080;
  user-select: none;
}

.styledAlbum .details .details-by span{
  margin-right: 8px;
}

.styledAlbum .details .details-by img{
  border-radius: 50%;
  vertical-align: middle;
}

.styledAlbum .icon-remove {
  color: #808080;
  cursor: pointer;
}

.styledAlbum .icon-remove:hover {
  color: #a7a7a7;
}
